<nav>
    <div>
        <a href="{{ url_for('home') }}">Начало</a>
        <a href="{{ url_for('gallery') }}">Галерия</a>
        <a href="{{ url_for('team') }}">Екип</a>
        <a href="{{ url_for('apply') }}">Кандидатствай</a>
        {% if current_user.is_authenticated and current_user.is_admin %}
            <a href="{{ url_for('admin_panel') }}" style="color: #ff4d4d; font-weight: bold;">Админ Панел</a>
        {% endif %}
    </div>
    <div>
        {% if current_user.is_authenticated %}
            <span>
                {{ current_user.username }}
                {% if current_user.username == 's1llyy' %}
                    <span class="dev-tag">[Web Developer]</span>
                {% elif current_user.is_admin %}
                    <span class="admin-tag">(Admin)</span>
                {% endif %}
            </span>
            <a href="{{ url_for('logout') }}">Изход</a>
        {% else %}
            <a href="{{ url_for('login') }}">Вход</a>
            <a href="{{ url_for('register') }}">Регистрация</a>
        {% endif %}
    </div>
</nav>
