{% extends "base.html" %}
{% block content %}
<div class="form-container">
    <h2>Вход</h2>
    <form method="POST">
        <input type="text" name="username" placeholder="Потребителско име" required>
        <input type="password" name="password" placeholder="Парола" required>
        
        <div style="margin-bottom: 15px; display: flex; align-items: center; gap: 8px;">
            <input type="checkbox" id="remember" name="remember">
            <label for="remember" style="color: #ccc; font-size: 14px; cursor: pointer;">Запомни ме</label>
        </div>

        <button type="submit">Влез</button>
    </form>
</div>
{% endblock %}
